/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/IMG_0046.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: #042608;
	width: 700px;
	height: 450px;
	color: white;
	padding: 50px;
}

#picture_container {
	background: url('../images/GOPR1549.jpg');
	background-position: center;
	background-attachment: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 700px;
	height: 400px;
	color: white;
	padding: 50px;
}

img{
		margin: auto;
		width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }


h1 {
	font-size: 40px;
	color: #FAEDD9;
	font-family: 'Bangers', cursive;
}

h2 {
	font-size: 25px;
	color: #FAEDD9;
	font-family: 'Dancing Script', cursive;
}

h3 {
	background: #808F12;
	color: #FAEDD9;
	padding: 5px;
	border-radius: 5px;
}

a {
	color: #FAEDD9;
}

p {
	background: #A8C060;
	color: #FFFCCD;
	padding: 5px;
	border-radius: 5px;
}
